{% extends "base.html" %} {% block title %} Password Generators {% endblock %} {% block main %}
<form action="" method="post">
  <div class="mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
      id="website"
      name="website"
      placeholder="Website"
      type="text"
    />
  </div>
  <div class="mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
      id="username"
      name="username"
      placeholder="Username"
      type="text"
    />
  </div>
  <div class="mb-3">
    <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" />
  </div>
  <div class="mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
      id="username"
      name="username"
      placeholder="Username"
      type="text"
    />
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
    <label class="form-check-label" for="flexCheckDefault"> Default checkbox </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
    <label class="form-check-label" for="flexCheckChecked"> Checked checkbox </label>
  </div>
  <button class="btn btn-primary" name="action" type="submit" value="generate">Generate</button>
  <button class="btn btn-primary" name="action" type="submitSave" value="save">Save</button>
</form>
{% endblock %}
