{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Website</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
         <!--
        <tbody>
          
            {% for item in all_data %}
                <tr>
                    <td>{{ item['id'] }}</td>
                    <td>{{ item['username'] }}</td>
                    <td>{{ item['hash'] }}</td>
                </tr>
            {% endfor %}
            
        </tbody>
    -->

    </table>
{% endblock %}
