{% extends "base.html" %} {% block title %} Home {% endblock %} {% block main %}

<table class="table table-striped bg-light">
  <thead>
    <tr>
      <th>Title</th>
      <th>Username</th>
      <th>Password</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    {% for credential in credentials %}
    <tr>
      <td><p id="loginTitle" class="m-0">{{ credential['login_title'] }}</p></td>
      <td><p id="loginName" class="m-0">{{ credential['login_name'] }}</p></td>
      <td>
        <span class="d-flex justify-content-center align-items-center">
          <p id="loginPassword" class="m-0">{{ credential['login_password'] }}</p>
          <i
            class="fa-solid fa-copy mx-1"
            id="copyIcon"
            onclick="copyPassword('{{ credential['login_password'] }}')"
          ></i>
        </span>
      </td>
      <td>
        <form method="post" id="deleteForm" action="/deleteCredential">
          <input type="hidden" id="credentialId" name="credentialId" value="{{ credential['credential_id'] }}" />
          <i
            class="fa-solid fa-pen-to-square mx-3"
            id="editIcon"
            data-bs-toggle="modal"
            data-bs-target="#editModal"
            onclick="showEditForm('{{ credential['login_title'] }}', '{{ credential['login_name'] }}', '{{ credential['login_password'] }}')"
          ></i>
          <button type="submit" class="bg-transparent border-0">
            <i class="fa-solid fa-trash mx-3" id="deleteIcon"></i>
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Login Credential</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/updateCredential" method="post">
          <label for="titleInput" class="form-label">Title</label>
          <input id="titleInput" type="text" name="titleInput" required /><br />

          <label for="usernameInput" class="form-label">Username</label>
          <input id="usernameInput" type="text" name="usernameInput" required /><br />

          <label for="passwordInput" class="form-label">Password</label>
          <input id="passwordInput" type="text" name="passwordInput" required /><br />
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
